h1 {
  color: blue;
  line-height: 27px;
  margin: 50px 30px 9px 30px;
  font-weight: 900;
}
h2 {
  margin-left: 50px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.card-img-top {
  max-width: 30%;
  max-height: 30%;
}
.main-img {
  width: 20%;
  margin: 30px;
  display: inline;
  position: relative;
}

.weather {
  border: 10px solid blue;
  border-radius: 20px;
  max-width: 800px;
  padding: 30px;
}
.temp {
  font-size: 60px;
}
.units {
  position: relative;
  top: -30px;
  text-decoration: none;
}
